User {{ context.issue.author.nickname }} has opened a new issue in our repo.

The issue title is:
{{ context.issue.title }}

The body is:
{{ context.issue.body }}

Write a message, if the user needs to improve the issue.
